.starting-solids-hero-section {
    display: flex;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 698px;
  }
  
  .starting-solids-inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 150px;
    align-items: center;
    margin: auto;
  }
  
  .starting-solids-text {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 24px;
    max-width: 540px;
    padding: 10px;
  }
  
  .starting-solids-text h1 {
    font-family: Agrandir;
    font-weight: 800;
    font-size: 56px;
    line-height: 120%;
    color: #e49aa3;
  }
  
  .starting-solids-text p {
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
  }
  
  .starting-solids-image {
    display: none;
  }
  
  @media (max-width: 768px) {
    .starting-solids-inner {
      grid-template-columns: 1fr;
      gap: 40px;
      justify-content: center;
      align-items: center;
    }
  
    .starting-solids-text {
      align-items: center;
      padding: 20px 15px 15px;
    }
  
    .starting-solids-text h1 {
      font-size: 34px;
      line-height: 120%;
      text-align: center;
    }
  
    .starting-solids-text p {
      font-size: 14px;
      text-align: center;
    }
  
    .starting-solids-image {
      display: flex;
      justify-content: center;
    }
  }
  