.our-approach-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1288px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 15px;
  line-height: 120%;
}

.our-approach-text {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 527px;
}

.our-approach-text h2 {
  font-size: 40px;
  line-height: 120%;
  color: #e49aa3;
}

.our-approach-image {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 700px;
}

@media (max-width: 768px) {
  .our-approach-wrapper {
    flex-direction: column;
    margin: auto;
  }

  .our-approach-text h2 {
    font-size: 28px;
  }

  .our-approach-image img {
    max-width: 353px;
    margin: 0 auto;
    padding: 10px;
  }
}
