.our-story-section {
  display: flex;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 698px;
}

.our-story-section h1 {
  color: #e49aa3;
  font-size: 56px;
}

.our-story-inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 150px;
  align-self: center;
  align-items: center;
  margin: auto;
}

.our-story-text {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 24px;
  max-width: 540px;
  padding: 10px;
}

.our-story-text p {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0;
  vertical-align: middle;
}



@media (max-width: 768px) {
  .main-image {
    position: absolute;
    top: -80px;
    left: auto;
    z-index: 2;
    width: 100%;
  }

  .our-story-image .divided-baby-bowl {
    position: absolute;
    max-width: 140px;
    max-height: 105px;
    top: 190px;
    right: 60px;
    transform: rotate(8deg);
    z-index: 2;
  }

  .foods-tracker {
    display: none;
  }

  .our-story-inner {
    grid-template-columns: 1fr;
    height: auto;
    gap: 40px;
    justify-content: center;
    align-items: center;
  }

  .our-story-image {
    position: relative;
    max-width: 550px;
    max-height: 290px;
    overflow: hidden;
  }

  .our-story-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
    max-width: 540px;
    padding: 20px 15px 15px;
  }

  .our-story-text h1 {
    font-size: 34px;
    line-height: 120%;
  }

  .our-story-text p {
    font-size: 16px;
    line-height: 120%;
    text-align: center;
  }

  .our-story-text a {
    width: 100%;
    text-align: center;
  }

  .our-story-image .strawberry-icon {
    position: absolute;
    top: 60px;
    left: 25px;
    z-index: 1;
    transform: rotate(5deg);
  }

  .our-story-image .broccoli-icon {
    position: absolute;
    top: 60px;
    left: 85px;
    z-index: 1;
  }
}

@media (max-width: 1024px) {
  .our-story-inner {
    gap: 0;
  }
}
