.our-values-wrapper {
  position: relative;
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 60px auto;
  line-height: 120%;
  padding: 0 15px 0 15px;
}

.our-values-text {
  max-width: 590px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}

.our-values-text h2 {
  font-size: 40px;
  line-height: 120%;
  color: #e49aa3;
}

.text-content {
  max-width: 527px;
  margin: 0;
  line-height: 130%;
  font-weight: 400;
  font-size: 18px;
}

.text-content p {
  line-height: 130%;
  font-weight: 400;
  font-size: 18px;
}

.our-values-image img {
  display: flex;
  position: relative;
}

@media (max-width: 768px) {
  .our-values-wrapper {
    flex-direction: column;
    padding: 15px;
    margin: 0 auto;
  }

  .our-values-image img {
    max-width: 358px;
  }

  .our-values-image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .our-values-text h2 {
    font-size: 28px;
  }

  .text-content p {
    font-size: 14px;
  }
}

@media (min-width: 763px) and (max-width: 1024px) {
  .our-values-image img {
    display: flex;
    position: relative;
    max-width: 440px;
  }
}
