.hero-section-pricing-plans {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding: 20px;
  overflow: hidden;
}

.hero-section-pricing-plans h1 {
  margin: auto;
  font-size: 56px;
  color: #1d4653;
  line-height: 120%;
  font-weight: 800;
  text-align: center;
}

.hero-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: auto;
  justify-content: space-between;
  gap: 32px;
}

.carts-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 32px;
}

.heading-container {
  text-align: center;
}

.cart-box {
  max-width: 1380px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.column-box {
  display: flex;
  flex-direction: column;
  max-width: 624px;
  min-width: 358px;
  border: 1px solid black;
  border-radius: 30px;
  background-color: #fff;
  padding: 32px;
  gap: 32px;
}

.column-box p,
.column-box li {
  font-size: 18px;
  font-weight: 400;
  line-height: 120%;
  color: #1d4653;
}

.card-top {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}


.card-top h3 {
  font-size: 24px;
  color: #e49aa3;
  line-height: 140%;
}

.card-top p,
.bottom-desc {
  font-weight: 400;
  line-height: 120%;
  font-size: 18px;
}

.card-top .card-left {
  max-width: 381px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.card-top .card-icon {
  width: 40px;
  height: 40px;
}

.card-top .card-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 4px;
}

.card-top .price {
  font-size: 32px;
  font-weight: 800;
  color: #e49aa3;
}

.card-top .period {
  font-size: 32px;
  color: #1d4653;
  font-weight: 800;
  line-height: 120%;
}

.card-divider {
  border: none;
  border-top: 1px solid #1d4653;
  margin: 16px 0 16px 0;
}

/* -------------check------------ */
.feature-list {
  list-style: none;
  padding: 0;
}

.feature-list li {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.check-mark {
  color: #39a487;
  font-size: 16px;
}

/* ------------------button---------- */
.secondary-button.custom-size-button {
  width: 100% !important;
}

@media (max-width: 768px) {
  .cart-box {
    flex-direction: column;
    gap: 24px;
  }

  .column-box {
    max-width: 358px;
    padding: 15px;
    gap: 12px;
  }

  .column-box p,
  .column-box li {
    font-size: 14px;
    font-weight: 400;
    line-height: 120%;
    color: #1d4653;
  }

  .hero-section-pricing-plans h1 {
    margin: auto;
    font-size: 36px;
    color: #1d4653;
  }


  @media (max-width: 768px) {
    .card-top {
      flex-direction: row;
      align-items: flex-start;
    }
  
    .card-left {
      flex-direction: row;
      align-items: center;
      gap: 12px;
      flex: 1;
    }
  
    .card-left img {
      width: 32px;
      height: auto;
    }
  
    .card-right {
      align-items: flex-end;
    }
  
    .card-left h3,
    .card-left p {
      width: 100%;
    }
  
    .card-left h3 {
      font-size: 18px;
      margin-top: 8px;
    }
  
    .card-left p {
      font-size: 14px;
    }
  
    .card-right .price {
      font-size: 16px;
      font-weight: bold;
    }
  
    .card-right .period {
      font-size: 14px;
      color: #999;
    }
  }
  
}
