.recipe-article-wrapper {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 28px;
  border: 1px solid #090909;
}

.recipe-article-header {
  text-align: left;
  border: 1px solid #090909;
  gap: 16px;
  padding: 0 32px;
}

.recipe-article-header h1 {
  font-size: 56px;
  line-height: 130%;
  color: #e49aa3;
}

.recipe-article-header p {
  font-size: 18px;
  max-width: 400px;
  line-height: 120%;
}

.recipe-main-content {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 64px;
  border: #090909 1px solid;
  padding: 0 32px 0 32px;
}

.recipe-left {
  display: flex;
  flex-direction: column;
  gap: 32px;
  border: #090909 1px solid;
}

.recipe-left img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.recipe-share p {
  margin-bottom: 18px;
  font-weight: bold;
}

.recipe-share-icons {
  display: flex;
  gap: 12px;
}
.recipe-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: #e49aa3 2px solid;
  border-radius: 10px;
  padding: 15px;
}

.recipe-right ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.recipe-right ul li {
  margin-bottom: 10px;
}

.related-recipes ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* ----------recipe navigation--------- */
.recipe-navigation {
  display: flex;
  justify-content: space-between;
  height: 40px;
  background-color: chartreuse;
  align-items: center;
  border-top: 1px solid #0a0a0a;
}

.recipe-navigation a {
  color: #e49aa3;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
}

.prev-recipe {
  justify-self: flex-start;
}

.next-recipe {
  justify-self: flex-end;
}

@media (max-width: 768px) {
  .recipe-article-body {
    grid-template-columns: 1fr;
  }

  .recipe-article-header {
    padding: 15px 15px;
  }

  .recipe-article-header h1 {
    font-size: 28px;
  }

  .recipe-navigation {
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
  }

  .recipe-main-content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
  }

  .recipe-left {
    max-width: 352px;
    display: flex;
    flex-direction: column;
    border: #090909 1px solid;
  }

  .recipe-left img {
    max-width: 352px;
    height: auto;
    border-radius: 10px;
  }

  .recipe-main-content {
    border: #090909 1px solid;
    padding: 0 15px;
  }

}
