.starting-solids-recipes-wrapper {
    max-width: 1280px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.top-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left h2{
    font-size: 2em;
}

.right{
    display: flex;
    justify-content: end;
    width: 50%;
    align-self: end;
}

.right a{
    text-decoration: none;
    color: #39A487;
    font-weight: 700;   
    font-size: 16px;
}

.left{
    display: flex;
    flex-direction: column;
    justify-content: start;
    max-width: 50%;
    font-size: 16px;
}

.card-container {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1280px;
  }
  
  .card {
    display: block;
    max-width: 370px;
    text-decoration: none;
    background-color: #fff;
  }
  
  .card img {
    width: 100%;
    border-radius: 12px;
    border: 1px solid #39A487;;
    border-radius: 12px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
    border-radius: 8px; 
  }
  
  .card-text {
    font-size: 18px;
    color: #39A487;
    font-weight: 600;
    padding: 5px 0;
    text-align: start;
  }

  @media (max-width: 768px) {
    .top-content {
      flex-direction: column; 
      align-items: flex-start;
      gap: 16px;
    }
  
    .left,
    .right {
      width: 100%;
      display: contents;
    }
  
    .right {
      justify-content: flex-start;
    }
    .card-container{
      justify-content: space-around
    }
  }