.starting-shop-wrapper {
    position: relative;
    display: flex;
    max-width: 1280px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    gap: 5%;
    margin-top: 60px;
    margin-bottom: 60px;
  }
  
  .starting-shop-content {
    width: 45%;
    padding: 10px;
  }
  
  .starting-shop-image {
    width: 45%;
    overflow: hidden;
  }
  
  .starting-shop-heading {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .starting-shop-description {
    margin-bottom: 20px;
  }
  
  
  .starting-shop-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .decor-image-broccoli{
    position: absolute;
    top: 140px;
    left: 440px;
    width: 90px;
    z-index: -1;
  }

  .decor-image-strawberry{
    position: absolute;
    top: 60px;
    left: 670px;
    width: 90px;
    z-index: -1;
  }

  .decor-image-avocado{
    position: absolute;
    top: 100px;
    left: 750px;
    width: 50px;
    z-index: -1;
  }
  
 
  @media screen and (max-width: 768px) {
    .starting-shop-wrapper {
      flex-direction: column;
      align-items: center;
    }
  
    .starting-shop-content, .starting-shop-image {
      width: 90%; 
      margin-bottom: 20px;
    }

    .decor-image-broccoli,
    .decor-image-strawberry,
    .decor-image-avocado {
      display: none;
    }
  }
  