.support-advice-wrapper {
    max-width: 1288px;
    display: flex;  
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    gap: 40px;
  }

  .support-advice-image img {
    max-width: 580px;
  }

  .support-advice-text h2 {
    font-size: 40px;
    line-height: 120%;
    color: #E49AA3;
  }

  .support-advice-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 527px;
    gap: 16px;
  }

  .img-mobile {
    display: none;
  }

  @media (max-width: 768px) {
    .support-advice-wrapper {
        flex-direction: column-reverse;
      }

    .support-advice-image img {
        max-width: 358px;
        margin: auto;
    }

    .support-advice-text{
        padding: 10px;
        gap: 16px;
      }

      .img-desktop {
        display: none;
      }
    
      .img-mobile {
        display: block;
        max-width: 100%;
        height: auto;
        margin: auto;
      }
  }
